<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookcase.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bookcase.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @bookcase.user.name %>
</p>

<%= link_to 'Edit', edit_bookcase_path(@bookcase) %> |
<%= link_to 'Back', bookcases_path %>
